body {
        background-color: #DEFCF9;
      }
      hr{
        /* background-color: white; */
        /* border-style: dotted none none; */
        border-style: none;
        border-color: grey;
        border-width: 3px ;
        border-top-style: dotted;

        height: 0px;
        width: 10%;
      }
      img{
        height:200px;
      }
      h1{
        color: #66BFBF;
        /* text-shadow: 2px 2px; */
      }
      h3{
        color: #66BFBF;
      }